<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <div class="main-wrapper">
            <span>Hotdog/Not Hotdog</span>
            <input type="file"
            id="img" name="img" onchange="previewFile()"
            accept="image/png, image/jpeg"><br>
            <img src="" alt="Image preview..." height = "500"><br>
            <button id="predictBtn">test python</button>
    </div>


    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
    document.getElementById("predictBtn").addEventListener ("click", predict, false);
    window.onload = preload();

    function preload(){
       
    }
    function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

    function predict(){
        //document.getElementById("fileUploaded").value();
        var imagepath = document.getElementById("img").files[0].name; 
        console.log(imagepath);
        var input = {test: "test"};
        postval = JSON.stringify(input);
        
        $.post("/predict", postval)
        .done(function(response) {
            
            console.log(response)
            //do something w response
            
        }).fail(function(response) {
            console.log(response);
        })      
    }
    previewFile();
    </script>
</body>
</html>
