<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <div class="main-wrapper">
            <span>Hotdog/Not Hotdog</span><br>
            <div id="answer"></div>
            <form action="http://localhost:5000/predict" enctype="multipart/form-data" method="POST">
                <input type="file"
                id="img" name="img" onchange="previewFile()"
                accept="image/png, image/jpeg" />
                <button id="predictBtn" type="submit">HOTDOG?</button>
            </form>
            <img src="" alt="HOWDY" height = "400"><br>
            
    </div>


    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
    document.getElementById("predictBtn").addEventListener ("click", predict, false);

    window.onload = preload();
    function preload(){
       
    }
    //just to be able to see image
    function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result; //reader.result is the image itself
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }
  //do backend stuff here
    function predict(){
       
        //var imagepath = document.getElementById("img").files[0].name; 
        var input = {test: "test"}; //variable to send to python idk if you need to json it
        postval = JSON.stringify(input);
        
        $.post("/predict", postval)
        .done(function(response) {
            
            console.log(response)
            document.getElementById("answer").innerHTML = response;
            //do something w response
            
        }).fail(function(response) {
            console.log(response);
        })      
    }
    previewFile();
    </script>
</body>
</html>
