<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <div class="main-wrapper">
            <span>insert some stuff here.</span>
            <button id="predictBtn">test python</button>
    </div>


    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
    document.getElementById ("predictBtn").addEventListener ("click", predict, false);
    window.onload = preload();

    function preload(){
        console.log("whats going on");
    }

    function predict(){
        //document.getElementById("fileUploaded").value();
        var input = {test: "test"};
        postval = JSON.stringify(input);
        
        $.post("/predict", postval)
        .done(function(response) {
            
            console.log(response)
            //do something w response
            
        }).fail(function(response) {
            console.log(response);
        })      
    }
        
    </script>
</body>
</html>
